body {
  margin: 0;
  background: black;
}

line {
  filter: drop-shadow(0 0 white) 
}

polygon {
  transition: fill 200ms ease-in;
}

polygon.active {
  fill: red;
}

#root {
  width: 100vw;
  height: 100vh;
}